[submodule "vendor/mongoose"]
	path = node/vendor/mongoose
	url = git@github.com:LearnBoost/mongoose.git
[submodule "public/vendor/jasmine"]
	path = public/vendor/jasmine
	url = https://github.com/pivotal/jasmine.git
